# eclipse project folder
.project
.pydevproject

# files which are holding sensible information
settings.py
settings.pyc

# all files with ending 
*.pyc

# don't log further changes in metadata-template
/metadaten-templates
